.navbar{
position: fixed;
width:100%;
height:30px;
top:0;
padding: 20px;
display:flex;
justify-content: space-between;
background-color: black;


}
.logo{
position: fixed;
left: 20px;
width:80px;

}

.avatar{
position: fixed;
right:20px;
width: 30px;
}